body {
    margin: 0px; 
    font-family: 'Inter', 'Helvetica', 'sans-serif';
    background: #27292c;
    color: white;
}

header {
    background-color: #21202A; 
    color: #00D8FF; 

    height: 91px; 

    display: flex; 
    justify-content: flex-start; 
    align-items: center; 

    padding: 15px; 
}

header > h1 {
    margin: 0px; 
    font-size: 2.3rem; 
}

#logo {
    width: 40px; 
    height: 40px; 

    margin-right: 7px; 
}

main {
    padding: 15px; 

    background-image: url(/react-logo-half.png); 
    background-repeat: no-repeat; 
    background-position: right 100%; 
}

main > h2 {
    font-size: 1.7rem; 
}

ul {
    line-height: 1.5;
}

li::marker {
    color: #00D8FF; 
    font-size: 1.5rem; 
}

